/* Basic styles */

.action-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
    border-top: 1px solid #ddd;
}
.action-bar .action-button{
    padding: 8px 15px;
    background: #d8dce1;
    border: none;
    color: rgb(58, 58, 58);
    font-size: 14px;
    letter-spacing: 1px;
}
.action-bar .actions{
    display: flex;
    gap: 0 5px;
}


.dropdown{    
    position: relative;
    /* background-color: white; */
}

.dropdown-toggle {
    cursor: pointer;
}
.dropdown-menu {
    min-width: 100%;
    width: auto;
    z-index: 99;
    display: none;    
    /* Initially hidden */
    position: absolute;
    top: 100%;
    right: 0;
    /* Position below the toggle element */
    /* left: 0; */
    background-color: #fff;
    list-style: none;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 0;
}

.dropdown-menu.column-list{
    overflow-y: scroll;
    max-height: 600px;
    width: 250px;
}

.dropdown.active .dropdown-menu {
    /* Add a new style rule */
    display: block;
    /* Show menu on click (toggle with active class) */
}

.dropdown-menu li {
    padding: 5px 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 0 5px;
    color: #666;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

.dropdown-menu li input {
    padding: 10px;
    width: 20px;
    height: 15px;
}
.dropdown-menu li input:hover {
    cursor: pointer;
}

.dropdown-hover .dropdown-menu{
    display: hide;

}
.dropdown-hover:hover .dropdown-menu{
    display: block;

}

table tbody tr td .table-data-action{
    
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    white-space: nowrap;
    font-size: 13px;
}

table.dataTable thead th {
    color: #666;
    font-weight: 400;
    background-color: #f2f2f2;

    white-space: nowrap;
    /* Prevent text wrapping */
    overflow: hidden;
    /* Hide overflowing content */
    text-overflow: ellipsis;
    /* Add ellipsis for truncated text */
    max-width: [desired width in pixels or percentage];
    /* Set your fixed width */
}
table.dataTable td {
    text-align: left;
}

table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
    text-align: left;
}

tr th:first-child,
tr td:first-child {
    z-index: 100;
}

table.dataTable tr td:first-child {
    background-color: white;
}

.table-container {
    overflow-x: auto;
    position: relative;
    overflow-y: visible;
    /* Needed for proper dropdown positioning */
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    
}
.table-container::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 3px;
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 6px;
    height: 20px;
    background-color: #cccccc;
    -webkit-border-radius: 7px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

.dropdown.table-action-dropdown{
    position: relative;
}
.table-actions-menu{
    position: fixed;
    max-width: 150px;
    min-width: 150px;
    clear: both;
}